body {
  background-color: #f9f9f9;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
}
a:focus {
  text-decoration: none;
  outline: none;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px 40px 0 40px;
}
select.form-control.searcher {
  width: 130px;
  height: 20px;
  font-size: 11px;
}
label.searcher {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 12px;
}
.tutor-img {
  overflow: hidden;
  border-radius: 100%;
  background: url("img/tutor-default.jpg");
  background-size: 100%;
  background-position: center;
}
.tutor-img img {
  height: 100%;
}
.badge.primary:empty,
.badge.high:empty,
.badge.uni:empty,
.badge.extra:empty,
.badge.secondary:empty,
.badge.primary-big:empty,
.badge.high-big:empty,
.badge.uni-big:empty,
.badge.extra-big:empty,
.badge.secondary-big:empty {
  display: block;
}
.badge.primary {
  background-color: #00e5ff;
}
.badge.primary:after {
  content: "E";
}
.primary-big {
  background-color: #00e5ff;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10px;
}
.primary-big:after {
  content: 'Elementari';
}
.badge.secondary {
  background-color: #fb8c00;
}
.badge.secondary:after {
  content: "M";
}
.secondary-big {
  background-color: #fb8c00;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10px;
}
.secondary-big:after {
  content: 'Medie';
}
.badge.high {
  background-color: #00bfa5;
}
.badge.high:after {
  content: "S";
}
.high-big {
  background-color: #00bfa5;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10px;
}
.high-big:after {
  content: 'Superiori';
}
.badge.uni {
  background-color: #f50057;
}
.badge.uni:after {
  content: "U";
}
.uni-big {
  background-color: #f50057;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10px;
}
.uni-big:after {
  content: 'Universit\00e0';
}
.badge.extra {
  background-color: #333333;
}
.badge.extra:after {
  content: "X";
}
.extra-big {
  background-color: #333333;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10px;
}
.extra-big:after {
  content: 'Extra';
}
.form-styled {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50px;
  padding: 0 40px;
}
.btn-list {
  font-size: 1em;
  border-radius: 0 0 9px 9px;
}
.btn-list i {
  position: relative;
  left: 10px;
}
.list-group li {
  list-style: none;
}
.list-group-item .btn-xs.pull-right {
  margin-left: 5px;
}
.media-body .btn-sm {
  margin: 5px;
}
.badge + .badge {
  margin-right: 5px;
}
.time {
  font-size: 0.8em;
  color: #a1a1a1;
}

/*# sourceMappingURL=body.css.map */